{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Carrd</h1>

    {% if user.is_authenticated %}

        <p>{{ user.username }}</p>

        <a href="{% url 'password_change' %}">Change your password</a>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token%}
            <button type="submit">Log Out</button>
        </form>

    {% else %}

        <form action="{% url 'login' %}" method="get">
            {% csrf_token%}
            <button type="submit">Log In</button>
        </form>

        <form action="{% url 'accounts:signup' %}" method="get">
            {% csrf_token%}
            <button type="submit">Sign Up</button>
        </form>


    {% endif %}

    {% for profile in profiles %}
        <h2><a href="{% url 'pages:profile' profile.user.username %}">{{ profile.user.first_name }}</a></h2>
        <p>{{ profile.text|truncatechars:140 }}</p>
    {% endfor %}

{% endblock content %}